body {
    margin: 0;
    background: url("img/art_Kandinsky_Composition_6.jpg") no-repeat center center fixed;

    height: 100vh;
    background-size: cover;
    color: white;
}

.container a {
    color: white;
    font-size: 2.5vh;
    font-family: sans-serif;
    text-align: center;
}

a:hover {
    color: brown;
}

.blockout {
    background-color: black;
    width: 100%;
    height: 100vh;
    opacity: 0.7;
    display: flex;
    align-items: center;
}

.header {
    display: flex;
    justify-content: center;
}

h1 {
    text-transform: uppercase;
    font-size: 10vh;
    letter-spacing: 4vh;
}

.description {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
p {
    font-size: 3vh;
    font-family: sans-serif;
    text-align: center;
}

footer {
    position: relative;
    padding-top: 0;
    padding-bottom: 0.5vw;
    opacity: 0.7;
}

.sources, .year, footer a {
    color: grey;
}

hr {
    background-color: grey;
    border-color:grey;
}